@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Experiments section styles */
#experiments {
    position: relative;
}

#experiments h3 {
    font-weight: bold;
    margin: 2em 0;
    display: inline;
}

#experiments img {
    display: block; 
    margin-top: 0.5rem; 
    margin-bottom: 1rem; 
    border-width: 1px; 
    border-color: #047857; 
    border-style: dashed; 
    padding: .25rem;
}

#experiments .steps {
   padding-left: 1em;
   margin-left: 0;
   padding-left: 2em;
   text-indent: -1em;
}

#experiments .steps li:before {
    content: "✓";
    padding-right: .25em;
    color: #047857; 
}

.experiment details {
    background: #efe;
    padding: 1em;
}

ul.explanation-list {
    position: relative;
    padding-left: 3em;
}

.explanation-list li:before {
    position: absolute;
    left: 0;
    content: " ";
    width: 4em;
    flex-shrink: 0;
}

.normal-list li {
    list-style-type: disc;
}

.explanation-list li:before {
    font-family: 'icomoon' !important;
}

.explanation-list li.you:before {
    content: "👤";
}

.explanation-list li.browser:before {
    content: "🌐➡";
    color: rebeccapurple;
}

.explanation-list li.server:before {
    content: "💻⬅";
    color: blue;
}

.explanation-list li.resolver:before {
    content: "💻⬅";
    color: green;
}

.explanation-list li.example:before {
    content: "💻";
    color: #333;
}

.explanation-list li.resolver.action:before {
    content: "💻";
}

.action {
    font-style: italic;
}

.action:before {
    font-style: normal;
}

#experiments .wont:before,  #experiments .wont:after {
    content: "✕";
    color: red;
    padding: 0 .25em;
}

details.experiment {
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}

.tutorial details.experiment {
    background-color: rgba(251, 207, 232, 0.7);
}

.tutorial .details-modal .details-modal-content {
    border-top-color: rgba(251, 207, 232);
}

.weird details.experiment {
    background-color: rgba(221, 214, 254, 0.7);
}

.weird .details-modal .details-modal-content {
    border-top-color: rgba(221, 214, 254);
}

.useful details.experiment {
    background-color: rgba(191, 219, 254, 0.7);
}

.useful .details-modal .details-modal-content {
    border-top-color: rgba(191, 219, 254);
}

#experiments details.experiment[open] .category {
    display: none;
}

#experiments ol {
    list-style-type: decimal;
}

#experiments p {
    margin: 1em 0;
}

.record-expl li {
    list-style-type: none;
    line-height: 1em;
}

.record-expl {
    padding: 0;
    margin: 0;
}
